body {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: .2px;
    text-size-adjust: 100%;
}


.book .book-body {
  background-image: linear-gradient(#fff, #ddd) !important;
}

pre, code {
  font-family: 'Fira Code', monospace !important;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 90% !important;
}

.book .book-summary {
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    width: 300px;
    color: #364149;
    background: #333;
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #FFFFFF;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.sourceCode pre {
  background: #e0e0e0 !important;
}
body.hl	{ background-color:#e0eaee; }
pre.hl	{ 
  color: #000000;
  background-color: #e0eaee; 
  font-size:10pt; 
}

section.normal {
  box-shadow: 0px 0px 7px #00000066;
}


a.anchor {
  margin-left: 0px;
  padding-right: -30px;
  display:inline-block;
  width: 30px;
  height: 30px;
  background-image: url(img/anchor.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  background-position: center bottom !important;
  opacity: 0;
}

.hasAnchor:hover a.anchor, a.anchor:hover {
  opacity: 0.9;
}

@media (max-width: 1144px) { /* dont show anchor link on small screens */
  .hasAnchor:hover a.anchor {
visibility: hidden;
  }
}